.titulos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
}  
.titulosdos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.titulo{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caja{
    border: 2px solid salmon;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    border-radius: 5px;
}

.antiguobazar{
    width: 100px;
}

.btn{
    border-radius: 5px;
    margin: 8px;
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.btn:hover{
    background-color: salmon;
    color: black;
}